<footer>
  <p class="ownership">
    ©2015 Tilde Inc<br />
    <a href="images/sponsors/15_EmberConf_V1.pdf">Download the Sponsorship Prospectus</a><span> | </span><a href="mailto:events@tilde.io">I'm ready to sponsor!</a><br />
    <!-- Website by <a href="http://www.wearebunker.com/">Bunker</a> -->
  </p>
  <p class="archive">Previous years<br /><a href="http://2014.emberconf.com/">2014</a></p>
</footer>
