<header class="diagonal-2">
  <div class="header-box">
    <div class="logo-bg"></div>
    <div class="logo">
      <a href="index.html" alt="EmberConf 2015"><img src="images/emberconf-logo-2.png" /></a>
    </div>
    <nav>
      <div class="mobile-trigger">| | |</div>
      <ul>
	<li>{{#link-to "speakers"}}Speakers{{/link-to}}</li>
	<li><a href="schedule.html">Schedule</a></li>
	<li><a href="sponsors.html">Sponsors</a></li>
	<li><a href="location.html">Location + Hotel</a></li>
	<li><a href="about.html">About</a></li>
      </ul>
    </nav>
    <div class="date">
      <p>MARCH 3-4 <span>|</span> PORTLAND, OR</p>
      <h1>Speakers</h1>
    </div>
  </div>
</header>
