@import 'gfont';
@import 'normalize';
@import 'emberconf';

#emberconf {
    min-height: 800px;
}

.speaker-image-large {
    display: block;
    margin-bottom: 35px;
    width: 12.5em;
    height: 12.5em;
    background: #e14c31;
    -webkit-border-radius: 6.25em;
    -moz-border-radius: 6.25em;
    border-radius: 6.25em;
    box-shadow: 0px 0px 0px 5px #e14c31;
    position: relative;
}

.speaker-image-small {
    margin-bottom: 25px;
    margin-left: 25px;    
    width: 6.5em;
    height: 6.5em;
    background: #e14c31;
    -webkit-border-radius: 6.25em;
    -moz-border-radius: 6.25em;
    border-radius: 6.25em;
    box-shadow: 0px 0px 0px 2px #e14c31;
    position: relative;
}

.speaker-icons {
    margin-left: 10em;
    margin-right: 10em;
    padding-top: 0.5em;

    .speaker-image-small {
        cursor: pointer;
        transition: transform 100ms;
        &:hover {
            transform: translateY(-6px)
        }
    }    
}

.speaker-icons > .liquid-container {
    overflow: visible
}

.shuffle {
    float: right;
    &:before {
        content: "";
    }
}

.speakers-btn {
    &:before {
        position: static;
        font-family: 'FontAwesome';
        content: '\f0d9';
        color: #fff;
        margin-right: 0.5em;
    }
}

.sponsor-card {
    background-color: white;
    margin: 10px;
    box-shadow: 0px 1px 1px 1px #777;
    transition: box-shadow 150ms, transform 150ms;
    cursor: pointer;
    overflow: hidden;
    vertical-align: top;
    display: inline-block;
    
    &:hover {
        box-shadow: 0px 3px 3px 3px #777;
        transform: translateY(-3px);
    }
}


.sponsor-logo {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    img { 
        width: 100px;
    }
}