<header class="diagonal-2">
  <div class="header-box">
    <div class="logo-bg"></div>
    <div class="logo">
      <a href="index.html" alt="EmberConf 2015"><img src="images/emberconf-logo-2.png" /></a>
    </div>
    <nav>
      <div class="mobile-trigger">| | |</div>
      <ul>
	<li><a href="speakers.html">Speakers</a></li>
	<li><a href="schedule.html">Schedule</a></li>
	<li><a href="sponsors.html">Sponsors</a></li>
	<li><a href="location.html">Location + Hotel</a></li>
	<li><a href="about.html">About</a></li>
      </ul>
    </nav>
    <div class="date">
      <p>MARCH 3-4 <span>|</span> PORTLAND, OR</p>
      <h1>Speakers</h1>
      <p class="mini-cta"><button onclick="window.location='/registration.html'">Join the Waitlist</button></p>
    </div>
  </div>
</header>

<div class="wrapper speaker-box">
  <div class="speakers-list">
    <div class="speakers-list-inner">
      <div class="speakers-image" id="ykatz">
	<img alt="Yehuda Katz" src="images/speakers/ykatz.jpeg" />
	<h6><span class="fontawesome-twitter"></span><a href="http://twitter.com/@wycats">@wycats</a></h6>
      </div>
      <div class="speakers-description description-header">
	<div class="top">
	  <h3>Yehuda Katz</h3>
	  <p>Yehuda is a member of the Ember.js, Ruby on Rails and jQuery Core Teams; his 9-to-5 home is at the startup he founded, <a href='http://www.tilde.io'>Tilde Inc</a>, where he works on <a href='http://www.skylight.io'>Skylight</a>, the smart profiler for Rails. Yehuda spends most of his time hacking on open source—his main projects, along with others, like Thor, Handlebars and Janus—and traveling the world doing open source evangelism work.</p>
	</div>
	<div class="bottom">
	  <h4><span>Session:</span> Keynote</h4>
	  <div class="speakers-slideout">
	    <a href='javascript:void(0)' class="close"><span class="fontawesome-close"></span></a>
	    <p>
	      Check back in January for full details on the agenda :)
	    </p>
	  </div>
	</div>
      </div>
    </div>
    <div class="speakers-list-inner">
      <div class="speakers-image" id="tdale">
	<img alt="Tom Dale" src="images/speakers/tdale.jpg" />
	<h6><span class="fontawesome-twitter"></span><a href="http://twitter.com/@tomdale">@tomdale</a></h6>
      </div>
      <div class="speakers-description description-header">
	<div class="top">
	  <h3>Tom Dale</h3>
	  <p>Tom is one of the creators of Ember.js, and a Co-founder at <a href='http://www.tilde.io'>Tilde</a>. He spends his days working on the open source projects Tilde supports, doing Ember consulting, and building their first developer product, <a href='http://www.skylight.io'>Skylight</a>. He's a former Apple engineer who first gained expert front-end JavaScript skills working on MobileMe and iCloud. He's a super hipster, and still isn't sure if it's serious or ironic.</p>
	</div>
	<div class="bottom">
	  <h4><span>Session:</span> Keynote</h4>
	  <div class="speakers-slideout">
	    <a href='javascript:void(0)' class="close"><span class="fontawesome-close"></span></a>
	    <p>
	      Check back in January for full details on the agenda :)
	    </p>
	  </div>
	</div>
      </div>
    </div>
    <div class="speakers-list-inner">
      <div class="speakers-image" id="ltan">
	<img alt="Lauren Tan" src="images/speakers/ltan.jpg" />
	<h6><span class="fontawesome-twitter"></span><a href="http://twitter.com/@sugarpirate_">@sugarpirate_</a></h6>
      </div>
      <div class="speakers-description description-header">
	<div class="top">
	  <h3>Lauren Tan</h3>
	  <p>Self-taught designer turned front end developer for @homelyau, co-founder @pricegeek. Co-founded @pricegeek after finishing a Finance degree.</p>
	</div>
	<div class="bottom">
	  <h4><span>Session:</span> Ambitious UX for Ambitious Apps</h4>
	  <div class="speakers-slideout">
	    <a href='javascript:void(0)' class="close"><span class="fontawesome-close"></span></a>
	    <p>
	      In the dark ages of web development, designing a beautiful user experience meant having to constantly fight with the DOM to get it to do what you want, when you want. With Ember, we no longer have to struggle with managing DOM state, and we are free to put the user experience first with reactive UI.<br /><br />In this talk, we'll discuss the ways in which Ember makes it easy to build delightful and reactive user experiences, and how you can build reusable components that even non-technical designers can learn to use. Learn about the thoughtful touches and interactions you can add to an Ember app.
	    </p>
	  </div>
	</div>
	<iframe width="420" height="315" src="https://www.youtube.com/embed/6pXdNiM8aio?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="speakers-list-inner">
      <div class="speakers-image" id="tbillups">
	<img alt="Toran Billups" src="images/speakers/tbillups.jpeg" />
	<h6><span class="fontawesome-twitter"></span><a href="http://twitter.com/@toranb">@toranb</a></h6>
      </div>
      <div class="speakers-description description-header">
	<div class="top">
	  <h3>Toran Billups</h3>
	  <p>Toran Billups is a software professional with a passion for all things javascript. When he isn't debating the tradeoffs of one-way vs two-way databinding you can find him teaching 5th grade students python!</p>
	</div>
	<div class="bottom">
	  <h4><span>Session:</span> Test Driven Development By Example</h4>
	  <div class="speakers-slideout">
	    <a href='javascript:void(0)' class="close"><span class="fontawesome-close"></span></a>
	    <p>
	      Are you writing software that can survive a rigorous refactor? Would a well written suite of tests make you feel more confident as you iterate? How do you get feedback as you add new features or fix a bug? <br /><br />Join me for an intense 25 minute live coding session where I build an ember application from the ground up test-first with nothing but the terminal and my favorite text editor! I'll share some of the tribal knowledge about what makes a great unit or functional test and how you decide to write one over the other.
	    </p>
	  </div>
	</div>
      </div>
    </div>
    <div class="speakers-list-inner">
      <div class="speakers-image" id="gchan">
	<img alt="Godfrey Chan" src="images/speakers/gchan.jpeg" />
	<h6><span class="fontawesome-twitter"></span><a href="http://twitter.com/@chancancode">@chancancode</a></h6>
      </div>
      <div class="speakers-description description-header">
	<div class="top">
	  <h3>Godfrey Chan</h3>
	  <p>Godfrey Chan is co-founder at Brewhouse Software in Vancouver, Canada. He helps run the #EmberYVR meetup and is a member of the Ruby on Rails core team. In his previous life, he was also an award-winning WordPress™ plugin author.</p>
	</div>
	<div class="bottom">
	  <h4><span>Session:</span> Hijacking Hacker News with Ember.js</h4>
	  <div class="speakers-slideout">
	    <a href='javascript:void(0)' class="close"><span class="fontawesome-close"></span></a>
	    <p>
	      In this session, we will look at several unconventional things you can do with Ember.js and Ember Data. We will be breathing new life into the Hacker News website via a chrome extension. We will be injecting code into the live website, parsing HTML pages into JSON feeds that Ember Data understands, all while maintaining the existing URL mapping scheme so that our users can continue to share and tweet URLs with the rest of the Interwebs.
	    </p>
	  </div>
	</div>
	<iframe width="420" height="315" src="https://www.youtube.com/embed/IXvn6M1ZVes?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="speakers-list-inner">
      <div class="speakers-image" id="efaulkner">
	<img alt="Edward Faulkner" src="images/speakers/efaulkner.jpg" />
	<h6><span class="fontawesome-twitter"></span><a href="http://twitter.com/@eaf4">@eaf4</a></h6>
      </div>
      <div class="speakers-description description-header">
	<div class="top">
	  <h3>Edward Faulkner</h3>
	  <p>Edward Faulkner is founder and CTO at BraveLeaf, a software startup that serves the long-term care industry. BraveLeaf's product is an Ember app, and may be one of the oldest continuously-updated Ember apps in the world (started on Sproutcore 1.6rc2! Get off my lawn!). He is also a research associate of the MIT Media Lab, and was previously a senior engineer at Akamai Technologies where he built internet-scale security and reliability infrastructure.</p>
	</div>
	<div class="bottom">
	  <h4><span>Session:</span> Physical Design</h4>
	  <div class="speakers-slideout">
	    <a href='javascript:void(0)' class="close"><span class="fontawesome-close"></span></a>
	    <p>
	      Physically-plausible motion makes applications more usable. Google's Material Design and the iOS Human Interface Guidelines both advocate for realistic animation as a key tool to help users navigate and understand.<br /><br />The Ember community is at the forefront of efforts to bring this level of polish to the open web and make it accessible to all developers. This talk will cover both the theory (when and why to introduce fluid motion) and the practice (how to get started today in your Ember app).
	    </p>
	  </div>
	</div>
      </div>
    </div>
    <div class="speakers-list-inner">
      <div class="speakers-image" id="mbeale">
	<img alt="Matthew Beale" src="images/speakers/mbeale.png" />
	<h6><span class="fontawesome-twitter"></span><a href="http://twitter.com/@mixonic">@mixonic</a></h6>
      </div>
      <div class="speakers-description description-header">
	<div class="top">
	  <h3>Matthew Beale</h3>
	  <p>Matthew has been developing with Ember.js for several years. He is the author of an early book on Ember, blogs at madhatted.com, and happily spends his spare time contributing code. Through a consulting partnership named 201 Created, he's worked with nearly two dozen companies to solve tough problems with Ember.</p>
	</div>
	<div class="bottom">
	  <h4><span>Session:</span> Aligning Ember with Web Standards</h4>
	  <div class="speakers-slideout">
	    <a href='javascript:void(0)' class="close"><span class="fontawesome-close"></span></a>
	    <p>
	      JavaScript is a language awakening from long slumber. Browser vendors have already adopted many features from the ES6 specification ahead of its formal release in 2015, and even implemented some of the early ES7 draft specification. <br /><br />Ember, to help us build apps today, has provided its own version of many ES6 and ES7 features. As the drafts become specs and browsers add new capabilities, the framework will need to reconfigure itself around them.<br /><br />How well does Ember align with these new APIs? Where the framework differs, what might be a path forward?
	    </p>
	  </div>
	</div>
	<iframe width="420" height="315" src="https://www.youtube.com/embed/WGzifwIBfRY?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="speakers-list-inner">
      <div class="speakers-image" id="bstoroz">
	<img alt="Brittany Storoz" src="images/speakers/bstoroz.png" />
	<h6><span class="fontawesome-twitter"></span><a href="http://twitter.com/@brittanystoroz">@brittanystoroz</a></h6>
      </div>
      <div class="speakers-description description-header">
	<div class="top">
	  <h3>Brittany Storoz</h3>
	  <p>I believe in life, liberty and the pursuit of happiness and have been known to pick up pencils with my toes. Plus I write JavaScript at Mozilla.</p>
	</div>
	<div class="bottom">
	  <h4><span>Session:</span> Building Custom Apps with Ember CLI</h4>
	  <div class="speakers-slideout">
	    <a href='javascript:void(0)' class="close"><span class="fontawesome-close"></span></a>
	    <p>
	      Not long ago, the JavaScript world lacked a good Rails equivalent. Ember CLI is quickly filling this void, and consistently improving thanks to its extensibility. The tool can be easily tailored to build for custom environments by creating new add-ons and leveraging existing ones. <br /><br />This presentation will highlight how to extend Ember CLI through add-ons, explaining example use-cases, how to create one, and the hooks available for developers to build into.
	    </p>
	  </div>
	</div>
      </div>
    </div>
    <div class="speakers-list-inner">
      <div class="speakers-image" id="jwhite">
	<img alt="Jamie White" src="images/speakers/jwhite.png" />
	<h6><span class="fontawesome-twitter"></span><a href="http://twitter.com/@jgwhite">@jgwhite</a></h6>
      </div>
      <div class="speakers-description description-header">
	<div class="top">
	  <h3>Jamie White</h3>
	  <p>Developer at With Associates. Organiser of Ember London. Volunteer thanks to Code Club. Learning with London Computation Club. Did I say London enough already?</p>
	</div>
	<div class="bottom">
	  <h4><span>Session:</span> Growing the community, one Tomster at a time</h4>
	  <div class="speakers-slideout">
	    <a href='javascript:void(0)' class="close"><span class="fontawesome-close"></span></a>
	    <p>
	      Ember has technology’s most loveable mascot. He’s approachable, thoughtful, and never takes himself too seriously. Our community is like that too.<br /><br />In this talk, we’ll learn the story of Tomster: where he came from, how he’s grown, and what he represents. Then we’ll zoom out and see how the minds that gave us Tomster have carefully crafted a framework for creating communities like ours. Finally we’ll zoom back in again to see how to use that framework on a local scale to grow the Ember community worldwide.
	    </p>
	  </div>
	</div>
	<iframe width="420" height="315" src="https://www.youtube.com/embed/tw-k8yNdmok?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="speakers-list-inner">
      <div class="speakers-image" id="spenner">
	<img alt="Stef Penner" src="images/speakers/spenner.jpg" />
	<h6><span class="fontawesome-twitter"></span><a href="http://twitter.com/@stefanpenner">@stefanpenner</a></h6>
      </div>
      <div class="speakers-description description-header">
	<div class="top">
	  <h3>Stef Penner</h3>
	  <p>Longboarding canadian, oss addict, ember.js core team member, living in manhattan and working at @yapp.</p>
	</div>
	<div class="bottom">
	  <h4><span>Session:</span> Ember.js Performance</h4>
	  <div class="speakers-slideout">
	    <a href='javascript:void(0)' class="close"><span class="fontawesome-close"></span></a>
	    <p>
	      One overarching theme in the Ember.js philosophy is to put developers on a path to success, primarily this is done by making that path have the lowest resistance.<br /><br />On several fronts this pattern has been quite successful, but on one important front we fall short, performance. This is the result of framework and run-time misalignment. This talk describes how we as a community can solve this problem in our apps and the framework.
	    </p>
	  </div>
	</div>
      </div>
    </div>
    <div class="speakers-list-inner">
      <div class="speakers-image" id="sselikoff">
	<img alt="Sam Selikoff" src="images/speakers/sselikoff.jpeg" />
	<h6><span class="fontawesome-twitter"></span><a href="http://twitter.com/@samselikoff">@samselikoff</a></h6>
      </div>
      <div class="speakers-description description-header">
	<div class="top">
	  <h3>Sam Selikoff</h3>
	  <p>Sam Selikoff is a front-end engineer at TED. Formerly a graduate student of economics, he unexpectedly discovered his love of programming while doing data work for a consulting firm. He is passionate about JavaScript, data visualization and economics.</p>
	</div>
	<div class="bottom">
	  <h4><span>Session:</span> Bring Sanity to Frontend Infrastructure with Ember.js</h4>
	  <div class="speakers-slideout">
	    <a href='javascript:void(0)' class="close"><span class="fontawesome-close"></span></a>
	    <p>
	      Monolithic server-side applications are on the way out - but what does this mean for our frontend code? A world of independent backend services creates unique challenges for internal frontend development: How can teams share code? Streamline deployments? Test and integrate their code with existing backend systems?<br><br>This talk will discuss how Ember's conventions and tooling can bring consistency, discipline and sanity to a company's frontend infrastructure.
	    </p>
	  </div>
	</div>
	<iframe width="420" height="315" src="https://www.youtube.com/embed/BJ1gDnwGNew?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="speakers-list-inner">
      <div class="speakers-image" id="dgebhardt">
	<img alt="Dan Gebhardt" src="images/speakers/dgebhardt.jpeg" />
	<h6><span class="fontawesome-twitter"></span><a href="http://twitter.com/@dgeb">@dgeb</a></h6>
      </div>
      <div class="speakers-description description-header">
	<div class="top">
	  <h3>Dan Gebhardt</h3>
	  <p>Dan is a co-founder of the SaaS consultancy Cerebris and has been working as part of the Tilde team since 2012. He's been developing web applications for 15 years, with a recent focus on Rails-driven APIs and Ember UIs. Dan is an avid contributor to open source, the lead developer of Orbit.js, and a regular speaker. He loves hiking near his home in NH with his wife, two boys, and their ridiculously happy dog.</p>
	</div>
	<div class="bottom">
	  <h4><span>Session:</span> Fault Tolerant UX</h4>
	  <div class="speakers-slideout">
	    <a href='javascript:void(0)' class="close"><span class="fontawesome-close"></span></a>
	    <p>
	      The key to building and maintaining users' confidence in long running applications is fault tolerance. Not just a data and connectivity concern - fault tolerance should be considered at every level of your application. A fault tolerant application clearly conveys its state to users throughout its interface, allows users to remain as productive as possible in any particular state, and ideally works behind the scenes to recover from faults.<br /><br />This talk will cover UX patterns and engineering strategies for building fault tolerant Ember.js applications.
	    </p>
	  </div>
	</div>
      </div>
    </div>
    <div class="speakers-list-inner">
      <div class="speakers-image" id="lsilber">
	<img alt="Leah Silber" src="images/speakers/lsilber.jpg" />
	<h6><span class="fontawesome-twitter"></span><a href="http://twitter.com/@wifelette">@wifelette</a></h6>
      </div>
      <div class="speakers-description description-header">
	<div class="top">
	  <h3>Leah Silber</h3>
	  <p>Leah is an all-around open source advocate. During the day time, she's one of the founders at <a href='http://www.tilde.io'>Tilde Inc</a>, the open-source-centric company behind <a href='http://www.skylight.io'>Skylight</a>. In her spare time, in addition to running EmberConf, Leah works on GoGaRuCo, RailsConf, and a number of User Groups. She's a retired member of the jQuery Core Team, and a member of the Ember Core Team.<br /><br />She previously worked as a consultant for clients in the tech sector, ran events for the jQuery Foundation and was employed managing the Community Marketing and Events department at Engine Yard. She is originally from Brooklyn, NY and now lives in Portland, OR with her husband.</p>
	</div>
	<div class="bottom">
	  <h4><span>Session:</span> EmberConf MiniTalks</h4>
	  <div class="speakers-slideout">
	    <a href='javascript:void(0)' class="close"><span class="fontawesome-close"></span></a>
	    <p>
	      Picture a lightning talk session, only better curated :) We'll open a mini-CFP a week or two before EmberConf, open to confirmed attendees only, so folks can submit their 3-5 minute talks. Start pondering now!
	    </p>
	  </div>
	</div>
      </div>
    </div>
    <div class="speakers-list-inner">
      <div class="speakers-image" id="lmelia">
	<img alt="Luke Melia" src="images/speakers/lmelia.jpg" />
	<h6><span class="fontawesome-twitter"></span><a href="http://twitter.com/@lukemelia">@lukemelia</a></h6>
      </div>
      <div class="speakers-description description-header">
	<div class="top">
	  <h3>Luke Melia</h3>
	  <p>Luke Melia is the organizer of the world-famous Ember.js NYC meetup. Luke helped launch one of the first commercial apps in Ember, Yapp, and is co-founder of Yapp Labs, a consultancy specializing in Ember.</p>
	</div>
	<div class="bottom">
	  <h4><span>Session:</span> The Art of Ember App Deployment</h4>
	  <div class="speakers-slideout">
	    <a href='javascript:void(0)' class="close"><span class="fontawesome-close"></span></a>
	    <p>
	      My team and I decided to invest in making our deployments awesome. When I told people about our approach, the community responded with excitement and new OSS implementations.<br /><br />This talk will show you how to make your team’s deployments delightful and empowering instead of slow, clumsy and frustrating. I'll take you through the key concepts and show you the open source tools that are now available.
	    </p>
	  </div>
	</div>
	<iframe width="420" height="315" src="https://www.youtube.com/embed/jKpikYW2Z68?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="speakers-list-inner">
      <div class="speakers-image" id="blangslet">
	<img alt="Bryan Langslet" src="images/speakers/blangslet.jpeg" />
	<h6><span class="fontawesome-twitter"></span><a href="http://twitter.com/@blangslet">@blangslet</a></h6>
      </div>
      <div class="speakers-description description-header">
	<div class="top">
	  <h3>Bryan Langslet</h3>
	  <p>Bryan is a Product Designer turned passionate Ember developer currently building design-centric apps at Envoy (@signwithenvoy).<br /><br />Hobbies include: drinking the Web Component Kool-Aid and twisting his mind in strange and beautiful ways through international travel.</p>
	</div>
	<div class="bottom">
	  <h4><span>Session:</span> Interaction Design with Ember 2.0 and Polymer</h4>
	  <div class="speakers-slideout">
	    <a href='javascript:void(0)' class="close"><span class="fontawesome-close"></span></a>
	    <p>
	      You've heard the hype about web components, but what does the spec provide other than small, re-usable chunks of markup?<br /><br /> Web components provide an incredibly powerful and declarative way of structuring web apps. The Polymer platform in particular holds many hidden secrets, including a paradigm shift for interaction design: an animation library that bridges the gap between application states, providing a sense of context and clarity of purpose as you move through an app experience.<br /><br />We will show you how to leverage the power of Ember 2.0 and Polymer to create remarkable user experiences.
	    </p>
	  </div>
	</div>
      </div>
    </div>
    <div class="speakers-list-inner">
      <div class="speakers-image" id="strevathan">
	<img alt="Steve Trevathan" src="images/speakers/strevathan.jpeg" />
	<h6><span class="fontawesome-twitter"></span><a href="http://twitter.com/@strevat">@strevat</a></h6>
      </div>
      <div class="speakers-description description-header">
	<div class="top">
	  <h3>Steve Trevathan</h3>
	  <p>Partner, Creative Director at DockYard. Organizer of UX East, UX Happy Hour and UX Boston.</p>
	</div>
	<div class="bottom">
	  <h4><span>Session:</span> Designing for Ember Apps</h4>
	  <div class="speakers-slideout">
	    <a href='javascript:void(0)' class="close"><span class="fontawesome-close"></span></a>
	    <p>
	      Ember allows us to design highly adaptive, extendable, and fast web apps, but with those possibilities comes greater responsibility. Successfully leveraging the characteristics that make the technology worth while requires a myriad of methods, principles, and patterns that aren’t readily obvious to those breaking into single page application design. In this talk I’ll hone in on those requirements with relevant examples and give the audience a starting point to make their next Ember.js product design successful.
	    </p>
	  </div>
	</div>
      </div>
    </div>
    <div class="speakers-list-inner">
      <div class="speakers-image" id="skinney">
	<img alt="Steve Kinney" src="images/speakers/skinney.jpg" />
	<h6><span class="fontawesome-twitter"></span><a href="http://twitter.com/@stevekinney">@stevekinney</a></h6>
      </div>
      <div class="speakers-description description-header">
	<div class="top">
	  <h3>Steve Kinney</h3>
	  <p>Steve is an instructor at the Turing School of Software and Design and a former New York City teacher.</p>
	</div>
	<div class="bottom">
	  <h4><span>Session:</span> Building Real-Time Applications with Ember</h4>
	  <div class="speakers-slideout">
	    <a href='javascript:void(0)' class="close"><span class="fontawesome-close"></span></a>
	    <p>
	      In this session, we'll investigate a few strategies for integrating browser features like WebSockets as well as third-party libraries into our ember-cli applications. We'll look at how to structure an application using standalone controllers, initializer objects, and services. Our example application will be a real-time chat application that uses WebSockets to push notification to connect clients. We'll build the application with native WebSockets and talk about how to leverage external libraries like Socket.io and Faye.
	    </p>
	  </div>
	</div>
	<iframe width="420" height="315" src="https://www.youtube.com/embed/fi2GCOtNiJE?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="speakers-list-inner">
      <div class="speakers-image" id="chenn">
	<img alt="Chris Henn" src="images/speakers/chenn.jpg" />
	<h6><span class="fontawesome-twitter"></span><a href="http://twitter.com/@cjwhn">@cjwhn</a></h6>
      </div>
      <div class="speakers-description description-header">
	<div class="top">
	  <h3>Chris Henn</h3>
	  <p>Chris Henn creates next-generation data visualizations for H2Ometrics, the collaborative water analytics platform. When he’s not working in Ember, Chris studies mathematics a Reed College in Portland, Oregon.</p>
	</div>
	<div class="bottom">
	  <h4><span>Session:</span> Dynamic Graphic Composition in Ember</h4>
	  <div class="speakers-slideout">
	    <a href='javascript:void(0)' class="close"><span class="fontawesome-close"></span></a>
	    <p>
	      Ember's declarative object model and data-binding make it an excellent fit for building data visualizations that respond to change. This talk presents two ways to think about building dynamic SVG visualizations in Ember in the context of Hadley Wickham's The Grammar of Graphics. Along the way various subjects will be discussed, including code reuse and composition with Ember components and D3, imperative vs. declarative style tradeoffs, and tips and tricks for making visualizations easy to build and use.
	    </p>
	  </div>
	</div>
      </div>
    </div>
    <div class="speakers-list-inner">
      <div class="speakers-image" id="ceppstein">
	<img alt="Chris Eppstein" src="images/speakers/ceppstein.jpg" />
	<h6><span class="fontawesome-twitter"></span><a href="http://twitter.com/@chriseppstein">@chriseppstein</a></h6>
      </div>
      <div class="speakers-description description-header">
	<div class="top">
	  <h3>Chris Eppstein</h3>
	  <p>Coming Soon!</p>
	</div>
	<div class="bottom">
	  <h4><span>Session:</span> Closing Keynote</h4>
	  <div class="speakers-slideout">
	    <a href='javascript:void(0)' class="close"><span class="fontawesome-close"></span></a>
	    <p>
	      Coming Soon!
	    </p>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>

  <div class="xsponsors-footer">
    <h3>Sponsors</h3>
    <div class="level">
      <h4>DIAMOND</h4>
      <div class="sponsor-images">
        <div><a href="http://www.skylight.io"><img alt="Skylight" src="images/sponsors/skylight.png" /></a></div>
        <div><a href="http://dockyard.com"><img alt="DockYard" src="images/sponsors/dockyard-footer.png" /></a></div>
        <div><a href="http://www.ticketfly.com"><img alt="Ticketfly" src="images/sponsors/ticketfly.png" /></a></div>
      </div>

    </div>
    <div class="level">
      <h4>GOLD</h4>
      <div class="sponsor-images">
        <div><a href="https://www.firebase.com/"><img alt="Firebase" src="images/sponsors/firebase.png" /></a></div>
        <div><a href="http://www.bustle.com"><img alt="Bustle" src="images/sponsors/bustle.png" /></a></div>
        <div><a href="http://frontside.io/"><img alt="The Frontside" src="images/sponsors/frontside.png" /></a></div>
        <div><a href="http://spiceworks.com"><img alt="Spiceworks" src="images/sponsors/spiceworks.png" /></a></div>
        <div><a href="http://www.zendesk.com"><img alt="Zendesk" src="images/sponsors/zendesk.png" /></a></div>
        <div><a href="https://addepar.com/"><img alt="Addepar" src="images/sponsors/addepar-footer.png" /></a></div>
        <div><a href="http://www.zenefits.com/"><img alt="Zenefits" src="images/sponsors/zenefits-footer.png" /></a></div>
        <div><a href="http://beatport.com"><img alt="Beatport" src="images/sponsors/beatport.png" /></a></div>
        <div><a href="http://customer.io/emberconf/"><img alt="Customer.io" src="images/sponsors/customerio-footer.png" /></a></div>
        <div><a href="http://www.mandrill.com"><img alt="Mandrill" src="images/sponsors/mandrill.png" /></a></div>
      </div>

    </div>
    <div class="level">
      <h4>SILVER</h4>
      <div class="sponsor-images">
        <div><a href="http://www.freshbooks.com"><img alt="Freshbooks" src="images/sponsors/freshbooks-footer.png" /></a></div>
        <div><a href="http://www.opengov.com"><img alt="OpenGov" src="images/sponsors/opengov-footer.png" /></a></div>
        <div><a href="http://locusenergy.com/"><img alt="Locus Energy" src="images/sponsors/locus.png" /></a></div>
        <div><a href="https://engineering.groupon.com/"><img alt="Groupon" src="images/sponsors/groupon-footer.png" /></a></div>
        <div><a href="http://www.linkedin.com"><img alt="LinkedIn" src="images/sponsors/linkedin.png" /></a></div>
        <div><a href="http://yahoo.com"><img alt="Yahoo" src="images/sponsors/yahoo.png" /></a></div>
        <div><a href="http://madewithenvy.com"><img alt="Envy" src="images/sponsors/envy.png" /></a></div>
      </div>

    </div>
    <div class="level">
      <h4>BRONZE</h4>
      <div class="sponsor-images">
        <div><a href="http://www.dollarshaveclub.com/"><img alt="Dollar Shave Club" src="images/sponsors/dollarshaveclub.png" /></a></div>
        <div><a href="http://echobind.com/emberconf"><img alt="Echobind" src="images/sponsors/echobind.png" /></a></div>
        <div><a href="http://www.stickermule.com/unlock?ref_id=3368978601"><img alt="Stickermule" src="images/sponsors/stickermule-footer.png" /></a></div>
        <div><a href="http://www.201-created.com/"><img alt="201 Created" src="images/sponsors/201created.png" /></a></div>
        <div><a href="http://www.puppetlabs.com"><img alt="Puppet Labs" src="images/sponsors/puppet.png" /></a></div>
        <div><a href="http://www.kangacoders.com"><img alt="Kanga Coders" src="images/sponsors/kanga.png" /></a></div>
      </div>

    </div>
  </div>
  <footer>
    <p class="ownership">
      ©2015 Tilde Inc<br />
      <a href="images/sponsors/15_EmberConf_V1.pdf">Download the Sponsorship Prospectus</a><span> | </span><a href="mailto:events@tilde.io">I'm ready to sponsor!</a><br />
      <!-- Website by <a href="http://www.wearebunker.com/">Bunker</a> -->
    </p>
    <p class="archive">Previous years<br /><a href="http://2014.emberconf.com/">2014</a></p>
  </footer>
