<div class="xsponsors-footer">
  <h3>Sponsors</h3>
  {{#liquid-with model as |sponsors|}}
  {{#each sponsors as |sponsor|}}
    <div class="sponsor-card" data-sponsor-id={{sponsor.id}} >
      {{#link-to "sponsors.sponsor" sponsor.id}}    
        <div  class="sponsor-logo">
          <img src={{sponsor.imageURL}} >
        </div>
      {{/link-to}}
      {{#if sponsor.isActive}}
        {{outlet}}
      {{/if}}
    </div>
  {{/each}}
  {{/liquid-with}}
</div>

